 html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after{
    content:'';
    content:none;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
body{
    -webkit-text-size-adjust:none
}
mark{
    background-color:transparent;
    color:inherit
}
input::-moz-focus-inner{
    border:0;
    padding:0
}
input[type="text"],input[type="email"],select,textarea{
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    appearance:none
}
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    min-width: 320px;
    min-height: 100vh;
    line-height: 1.0;
    word-wrap: break-word;
    overflow-x: hidden;
}
u {
    text-decoration: underline;
}
strong {
    color: inherit;
    font-weight: bolder;
}
em {
    font-style: italic;
}
code {
    font-family: 'Lucida Console', 'Courier New', 'monospace';
    font-weight: normal;
    text-indent: 0;
    letter-spacing: 0;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    background-color: rgba(144,144,144,0.25);
    border-radius: 0.25em;
}
mark {
    background-color: rgba(144,144,144,0.25);
}
a {
    -moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    -webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    -ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    color: inherit;
    text-decoration: underline;
}
s {
    text-decoration: line-through;
}
body:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-image: linear-gradient(51deg, #FC446B 0%, #3F5EFB 100%), url('https://shoemakk.com/images/background.webp');
    background-position: 0% 0%, center;
    background-repeat: repeat, no-repeat;
    background-size: cover, cover;
    background-attachment: scroll;
    background-color: #000000;
}
html {
    font-size: 18pt;
}
#wrapper {
    -webkit-overflow-scrolling: touch;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}
#main {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: relative;
    max-width: 100%;
    z-index: 1;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    text-align: center;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: cover;
    background-image: linear-gradient(103deg, #EB816A 0%, #E6A87C 100%);
    box-shadow: 0rem 1.125rem 4.125rem 0rem rgba(0,0,0,0.451);
    border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;
    -moz-transition: opacity 0.75s ease 0.125s,-moz-transform 0.75s ease 0.125s;
    -webkit-transition: opacity 0.75s ease 0.125s,-webkit-transform 0.75s ease 0.125s;
    -ms-transition: opacity 0.75s ease 0.125s,-ms-transform 0.75s ease 0.125s;
    transition: opacity 0.75s ease 0.125s,transform 0.75s ease 0.125s;
}
#main > .inner {
    position: relative;
    z-index: 1;
    border-radius: inherit;
    padding: 5rem 4rem;
    max-width: 100%;
    width: 38rem;
}
#main > .inner > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#main > .inner > :first-child {
    margin-top: 0 !important;
}
#main > .inner > :last-child {
    margin-bottom: 0 !important;
}
#main > .inner > .full {
    margin-left: calc(-4rem);
    width: calc(100% + 8rem + 0.4725px);
    max-width: calc(100% + 8rem + 0.4725px);
}
#main > .inner > .full:first-child {
    margin-top: -5rem !important;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
#main > .inner > .full:last-child {
    margin-bottom: -5rem !important;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
#main > .inner > .full.screen {
    width: 100vw;
    max-width: 100vw;
    position: relative;
    border-radius: 0 !important;
    left: 50%;
    right: auto;
    margin-left: -50vw;
}
body.is-loading #main {
    opacity: 0;
    -moz-transform: scale(0.975);
    -webkit-transform: scale(0.975);
    -ms-transform: scale(0.975);
    transform: scale(0.975);
}
.container > .inner {
    vertical-align: top;
    position: relative;
    max-width: 100%;
    border-radius: inherit;
}
#main .container.full:first-child > .inner {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
#main .container.full:last-child > .inner {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
#columns01 > .inner {
    text-align: left;
    padding: 0rem 0rem;
    width: 38rem;
    background-color: transparent;
    display: -moz-inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}
#columns01 > .inner > * {
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    max-width: 100%;
    padding: 0 0 0 2rem;
}
#columns01 > .inner > :nth-child(1) {
    width: calc(60% + 1rem);
}
#columns01 > .inner > :nth-child(2) {
    width: calc(40% + 1rem);
    text-align: right;
}
#columns01 > .inner > * > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#columns01 > .inner > * > *:first-child {
    margin-top: 0 !important;
}
#columns01 > .inner > * > *:last-child {
    margin-bottom: 0 !important;
}
#columns01 > .inner > *:first-child {
    margin-left: -2rem;
}
.image {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    display: block;
}
.image a, .image span {
    position: relative;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}
.image a img, .image span img {
    display: block;
}
.image img {
    width: 100%;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}
.image.full img {
    display: block;
}
.image.full:first-child img {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.image.full:last-child img {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.image.full a, .image.full span {
    display: block;
}
#image01 a, #image01 span {
    border-radius: 100%;
}
#image01 img {
    width: 11rem;
    border-radius: 100%;
}
h1 br + br, h2 br + br, h3 br + br, p br + br {
    display: block;
    content: ' ';
    margin-top: 0.75rem;
}
h1 .li, h2 .li, h3 .li, p .li {
    display: list-item;
    padding-left: 0.5em;
    margin: 0.75em 0 0 1em;
}
#credits {
    font-size: 0.8em;
    cursor: default;
    margin-top: 1rem !important;
}
#credits a {
    text-decoration: underline;
    -moz-transition: opacity 0.25s ease;
    -webkit-transition: opacity 0.25s ease;
    -ms-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    opacity: 0.5;
    text-decoration: none !important;
}
#credits a:hover {
    text-decoration: none;
    opacity: 1;
    text-decoration: none !important;
}
h1, h2, h3, p {
    color: #FFFFFF;
    font-family: 'Lato', 'sans-serif';
    letter-spacing: -0.05rem;
    width: 100%;
    font-size: 2.25em;
    line-height: 1.25;
    font-weight: 400;
}
.icons {
    cursor: default;
    padding: 0;
    letter-spacing: 0;
    font-size: 1.25em;
    width: calc(100% + 0.375 rem);
    margin-left: -0.1875rem;
}
.icons li {
    display: inline-block;
    vertical-align: middle;
    margin: 0.1875rem;
}
.icons li a {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    border-radius: 100%;
    width: 2em;
    height: 2em;
}
.icons li a svg {
    display: block;
    -moz-transition: fill 0.25s ease;
    -webkit-transition: fill 0.25s ease;
    -ms-transition: fill 0.25s ease;
    transition: fill 0.25s ease;
}
.icons li a .label {
    display: none;
}
#icons01 li a svg {
    width: 60%;
    height: 60%;
}
#icons01 .n01 {
    background-color: rgba(255,255,255,0.459);
}
#icons01 .n01 svg {
    fill: #FFFFFF;
}
#icons01 .n01:hover {
    background-color: #1DCAFF;
}
#icons01 .n02 {
    background-color: rgba(255,255,255,0.459);
}
#icons01 .n02 svg {
    fill: #FFFFFF;
}
#icons01 .n02:hover {
    background-color: #6441A4;
}
#icons01 .n03 {
    background-color: rgba(255,255,255,0.459);
}
#icons01 .n03 svg {
    fill: #FFFFFF;
}
#icons01 .n03:hover {
    background-color: #4A4A4A;
}
#icons01 .n04 {
    background-color: rgba(255,255,255,0.459);
}
#icons01 .n04 svg {
    fill: #FFFFFF;
}
#icons01 .n04:hover {
    background-color: #FFE4C2;
}
#icons01 .n05 {
    background-color: rgba(255,255,255,0.459);
}
#icons01 .n05 svg {
    fill: #FFFFFF;
}
#icons01 .n05:hover {
    background-color: #7289DA;
}
#icons01 .n06 {
    background-color: rgba(255,255,255,0.459);
}
#icons01 .n06 svg {
    fill: #FFFFFF;
}
#icons01 .n06:hover {
    background-color: #FF0000;
}
@media (max-width: 1680px) {
    html {
        font-size: 13pt;
    }
}
@media (max-width: 1280px) {
    html {
        font-size: 13pt;
    }
}
@media (max-width: 980px) {
    html {
        font-size: 11pt;
    }
}
@media (max-width: 736px) {
    html {
        font-size: 11pt;
    }
    #wrapper {
        padding: 2rem 2rem 2rem 2rem;
    }
    #main > .inner {
        padding: 3.5rem 2rem;
    }
    #main > .inner > * {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #main > .inner > .full {
        margin-left: calc(-2rem);
        width: calc(100% + 4rem + 0.4725px);
        max-width: calc(100% + 4rem + 0.4725px);
    }
    #main > .inner > .full:first-child {
        margin-top: -3.5rem !important;
    }
    #main > .inner > .full:last-child {
        margin-bottom: -3.5rem !important;
    }
    #main > .inner > .full.screen {
        margin-left: -50vw;
    }
    #columns01 > .inner {
        text-align: center;
        padding: 0rem 0rem;
        -moz-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -moz-flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    #columns01 > .inner h1, #columns01 > .inner h2, #columns01 > .inner h3, #columns01 > .inner p {
        text-align: inherit;
    }
    #columns01 > .inner > :nth-child(1) {
        width: calc(60% + 0.75rem);
        width: 100%;
        min-height: 100%;
        text-align: inherit;
    }
    #columns01 > .inner > :nth-child(2) {
        width: calc(40% + 0.75rem);
        width: 100%;
        min-height: 100%;
        text-align: inherit;
    }
    #columns01 > .inner > * {
        padding: 0 0 0 1.5rem;
        padding: 0.75rem 0;
    }
    #columns01 > .inner > *:first-child {
        margin-left: -1.5rem;
        margin-left: 0;
        padding-bottom: 0;
    }
    #columns01 > .inner > *:last-child {
        padding-top: 0;
    }
    #image01 img {
        width: 8rem;
    }
}
@media (max-width: 480px) {
    #wrapper {
        padding: 1rem 1rem 1rem 1rem;
    }
    #main > .inner > * {
        margin-top: 0.875rem;
        margin-bottom: 0.875rem;
    }
}
@media (max-width: 360px) {
    #wrapper {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    #main > .inner {
        padding: 2.625rem 1.5rem;
    }
    #main > .inner > * {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    #main > .inner > .full {
        margin-left: calc(-1.5rem);
        width: calc(100% + 3rem + 0.4725px);
        max-width: calc(100% + 3rem + 0.4725px);
    }
    #main > .inner > .full:first-child {
        margin-top: -2.625rem !important;
    }
    #main > .inner > .full:last-child {
        margin-bottom: -2.625rem !important;
    }
    #main > .inner > .full.screen {
        margin-left: -50vw;
    }
    #columns01 > .inner {
        padding: 0rem 0rem;
    }
    #text01 {
        font-size: 2em;
    }
    #icons01 {
        width: calc(100% + 0.28125rem);
        margin-left: -0.140625rem;
    }
    #icons01 li {
        margin: 0.140625rem;
    }
}

body {
    overflow: auto !important;
}
#main {
    opacity: 1.0 !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    -moz-filter: none !important;
    -webkit-filter: none !important;
    -ms-filter: none !important;
    filter: none !important;
}
